.App {

  text-align: center;
  font-family: 'Inter';
  width: 400px;
  background-color: #141419;
  margin: auto;
  color:  #DADADA;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #575767;
}

