

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: #141419;
  --text-primary: #DADADA;
  --secondary-text: #575767;
  --header-text:#DADADA;
  --check-box-color:linear-gradient(180deg, #2B2D37 0%, #262933 100%);
  --check-box-border: #0E0E11
}

[data-theme='light'] {
  --background: #D3D3D3;
  --text-primary: #575767;
  --secondary-text: #B9B9BE;
  --header-text:#0E0E11;
  --check-box-color:linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%);
  --check-box-border: #DADADA
}